

body {
  width: 75%;
  font-family: sans-serif;
}

img {
  width: 30%
  float: left;
}

.box {
  margin: 12px;
  border: 8px solid green;
  padding: 2px;
}

.about-me {
}

p {
  font-size: 12px;
}

.list {
  font-size: 12px
}

.projects

.language {
  color: #ff80b3;
}
