body {
  text-align: ;
  font-family: "Helvetica", sans-serif

}

img {
  float: left;
}

.box {
  margin: 12px;
  border: 8px solid green;
  padding: 2px;
}

.about-me {

}

p {
  font-size: 12px;
}

li {
  font-size: 13x;
}

#wrap {
  width: 900px;
  margin: 0 auto;
}
