

body {
  font-family: sans-serif;
  text-align: center;
}

img {
  float: left;
}

.box {
  margin: 12px;
  border: 8px solid green;
  padding: 2px;
  float: right;
}

p {
  font-size: 12px;
}

l {
  font-size: 8px
}


.language
{
  color: #ff80b3;
}
